USE [Kore_Demo]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jid] [nvarchar](255) NOT NULL,
	[wa_message_id] [nvarchar](255) NOT NULL,
	[from_me] [bit] NOT NULL,
	[message_text] [nvarchar](max) NULL,
	[message_type] [nvarchar](50) NULL,
	[message_timestamp] [bigint] NOT NULL,
	[status] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[conversation_id] [int] NOT NULL,
	[quoted_message_id] [varchar](255) NULL,
	[quoted_text] [text] NULL,
	[quoted_sender] [varchar](255) NULL,
	[raw_message] [nvarchar](max) NULL,
	[is_group_message] [bit] NULL,
	[original_group_jid] [nvarchar](255) NULL,
	[push_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_wa_message] UNIQUE NONCLUSTERED 
(
	[wa_message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[display_name] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](20) NULL,
	[primary_jid] [nvarchar](255) NULL,
	[is_auto_generated] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[profile_pic_url] [nvarchar](max) NULL,
	[profile_pic_fetched] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jid] [nvarchar](255) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[contact_id] [int] NULL,
	[last_message_at] [bigint] NULL,
	[unread_count] [int] NULL,
	[created_at] [datetime] NULL,
	[source_jid] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dealer_leads]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dealer_leads](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [nvarchar](max) NULL,
	[chat_id] [nvarchar](max) NULL,
	[chat_type] [nvarchar](max) NULL,
	[brand] [nvarchar](max) NULL,
	[model] [nvarchar](max) NULL,
	[variant] [nvarchar](max) NULL,
	[ram] [nvarchar](max) NULL,
	[storage] [nvarchar](max) NULL,
	[colors] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NULL,
	[quantity] [int] NULL,
	[condition] [nvarchar](max) NULL,
	[gst] [bit] NULL,
	[dispatch] [nvarchar](max) NULL,
	[raw_message] [nvarchar](max) NULL,
	[confidence] [decimal](18, 2) NULL,
	[created_at] [datetime] NULL,
	[price_min] [decimal](18, 2) NULL,
	[price_max] [decimal](18, 2) NULL,
	[quantity_min] [int] NULL,
	[quantity_max] [int] NULL,
	[source_chat_message_id] [int] NULL,
	[wa_message_id] [nvarchar](255) NULL,
 CONSTRAINT [PK_dealer_leads] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distributor_offerings]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distributor_offerings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [nvarchar](255) NULL,
	[chat_id] [nvarchar](255) NULL,
	[chat_type] [nvarchar](50) NULL,
	[brand] [nvarchar](100) NULL,
	[model] [nvarchar](100) NULL,
	[variant] [nvarchar](100) NULL,
	[ram] [int] NULL,
	[storage] [int] NULL,
	[colors] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[quantity_min] [int] NULL,
	[quantity_max] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[price_min] [decimal](10, 2) NULL,
	[price_max] [decimal](10, 2) NULL,
	[condition] [nvarchar](20) NULL,
	[gst] [bit] NULL,
	[dispatch] [nvarchar](20) NULL,
	[confidence] [decimal](3, 2) NULL,
	[raw_message] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[source_chat_message_id] [int] NULL,
	[wa_message_id] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ignored_messages]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ignored_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [nvarchar](255) NULL,
	[chat_id] [nvarchar](255) NULL,
	[chat_type] [nvarchar](50) NULL,
	[confidence] [decimal](3, 2) NULL,
	[raw_message] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[wa_message_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jid_mappings]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jid_mappings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jid] [nvarchar](255) NOT NULL,
	[contact_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_jid_mappings_jid] UNIQUE NONCLUSTERED 
(
	[jid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lid_mappings]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lid_mappings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lid_jid] [nvarchar](255) NOT NULL,
	[last_known_name] [nvarchar](255) NULL,
	[contact_id] [int] NULL,
	[first_seen_at] [datetime2](7) NULL,
	[last_updated_at] [datetime2](7) NULL,
	[message_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[lid_jid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message_replies]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message_replies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[replied_by] [nvarchar](255) NULL,
	[replied_by_name] [nvarchar](255) NULL,
	[replied_message] [nvarchar](max) NULL,
	[replied_at] [datetime] NULL,
	[quoted_message_id] [nvarchar](255) NULL,
	[quoted_message_text] [nvarchar](max) NULL,
	[chat_type] [nvarchar](50) NULL,
	[source] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[openai_usage_logs]    Script Date: 25-03-2026 16:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[openai_usage_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wa_message_id] [nvarchar](255) NULL,
	[model] [nvarchar](100) NULL,
	[input_tokens] [int] NULL,
	[output_tokens] [int] NULL,
	[total_tokens] [int] NULL,
	[cost_input_usd] [decimal](10, 6) NULL,
	[cost_output_usd] [decimal](10, 6) NULL,
	[cost_total_usd] [decimal](10, 6) NULL,
	[latency_ms] [int] NULL,
	[raw_message] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ('text') FOR [message_type]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [is_group_message]
GO
ALTER TABLE [dbo].[contacts] ADD  DEFAULT ((0)) FOR [is_auto_generated]
GO
ALTER TABLE [dbo].[contacts] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contacts] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[contacts] ADD  DEFAULT ((0)) FOR [profile_pic_fetched]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((0)) FOR [unread_count]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[dealer_leads] ADD  CONSTRAINT [DF_dealer_leads_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[distributor_offerings] ADD  CONSTRAINT [DF_distributor_offerings_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ignored_messages] ADD  CONSTRAINT [DF_ignored_messages_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[jid_mappings] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lid_mappings] ADD  DEFAULT (getutcdate()) FOR [first_seen_at]
GO
ALTER TABLE [dbo].[lid_mappings] ADD  DEFAULT (getutcdate()) FOR [last_updated_at]
GO
ALTER TABLE [dbo].[lid_mappings] ADD  DEFAULT ((1)) FOR [message_count]
GO
ALTER TABLE [dbo].[message_replies] ADD  CONSTRAINT [DF_message_replies_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[openai_usage_logs] ADD  CONSTRAINT [DF_openai_usage_logs_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_chat_messages_conversation] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK_chat_messages_conversation]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD FOREIGN KEY([contact_id])
REFERENCES [dbo].[contacts] ([id])
GO
ALTER TABLE [dbo].[jid_mappings]  WITH CHECK ADD  CONSTRAINT [FK_jid_mappings_contact] FOREIGN KEY([contact_id])
REFERENCES [dbo].[contacts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[jid_mappings] CHECK CONSTRAINT [FK_jid_mappings_contact]
GO
ALTER TABLE [dbo].[lid_mappings]  WITH CHECK ADD  CONSTRAINT [FK_lid_mappings_contacts] FOREIGN KEY([contact_id])
REFERENCES [dbo].[contacts] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[lid_mappings] CHECK CONSTRAINT [FK_lid_mappings_contacts]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Original JID (@g.us, @broadcast) for broadcast/group messages. Real participant JID is stored in jid column.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'conversations', @level2type=N'COLUMN',@level2name=N'source_jid'
GO
